# Ignore les fichiers/dossiers spécifiques

### Maven ###
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore le dossier target sauf dans les répertoires src/main et src/test
# ! permet de ne pas ignorer les fichiers/dossiers correspondants
# **/src/main/**/target/ signifie que target sera ignoré partout sauf dans les sous-répertoires de src/main
# **/src/test/**/target/ signifie que target sera ignoré partout sauf dans les sous-répertoires de src/test
# build/ !**/src/main/**/build/ !**/src/test/**/build/ permet de ne pas ignorer les dossiers build à l'intérieur de src/main et src/test
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/
